<footer class="container-fluid text-bg-light bottom-0">
    <div class="container d-flex text-bg-dark py-5">
        <div class="container mx-2">
            <h2 class="text-center">Lorem Ipsum</h2>
        </div>
        <div class="container mx-2">
            <p class="text-center">Lorem Ipsum</p>
            <p class="text-center">Lorem Ipsum</p>
            <p class="text-center">Lorem Ipsum</p>
            <p class="text-center">Lorem Ipsum</p>
        </div>
        <div class="container mx-2">
            <p class="text-center">Lorem Ipsum</p>
            <p class="text-center">Lorem Ipsum</p>
            <p class="text-center">Lorem Ipsum</p>
            <p class="text-center">Lorem Ipsum</p>
        </div>
        <div class="container mx-2">
            <p class="text-center">Lorem Ipsum</p>
            <p class="text-center">Lorem Ipsum</p>
            <p class="text-center">Lorem Ipsum</p>
            <p class="text-center">Lorem Ipsum</p>
        </div>
    </div>
    <div class="container d-flex justify-content-between">
        <p>&copy;Rifki Fajrian Akbar 2024</p>
        <div class="text d-flex">
            <p class="mx-2">Github</p>
            <p class="mx-2">Instagram</p>
        </div>
    </div>
</footer>